In [16]:
import pandas as pd
data = pd.read_csv('/root/quoc/FinanceLearn/data/fxcm_eur_usd_tick_data.csv',index_col=False)
# data.set_index('Unnamed: 0',inplace=True)

In [18]:
data['Mid'] = data.mean(axis=1)
data['Date'] = pd.to_datetime(data['Unnamed: 0'])
data = data.drop(columns=['Unnamed: 0'])
data.set_index('Date',inplace=True)
tick_resam = data.resample(rule='5min', label='right').last()
tick_resam.head()

                         Bid      Ask       Mid
Date
2018-06-29 00:05:00  1.15649  1.15651  1.156500
2018-06-29 00:10:00  1.15671  1.15672  1.156715
2018-06-29 00:15:00  1.15725  1.15727  1.157260
2018-06-29 00:20:00  1.15720  1.15722  1.157210
2018-06-29 00:25:00  1.15711  1.15712  1.157115